body, .content, .intro, .resource-item, .wechat-review, .wechat-info, p, a {
  font-family: 'Comic Neue', cursive, sans-serif;
  background-color: #f9f0f0;
  margin: 0;
  padding: 0 20px;
}

h1, h2, h3 {
  color: #333;
  margin: 20px 0 15px;
  padding: 0;
}

h1 {
  color: #8b0000;
  font-size: 2.2em;
  text-align: center;
  margin: 30px 0;
}

a {
  color: #0066cc !important;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  max-width: 800px;
  margin: 40px auto;
  text-align: left;
}

nav {
  background-color: #333;
  padding: 1em;
  text-align: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 1em;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  text-decoration: underline;
}


.profile-photo {
  width: 30vw;            /* 占页面宽度的 30% */
  max-width: 300px;       /* 最大宽度为 300px，不会太大 */
  height: auto;
  border-radius: 15px;    /* 圆角效果 */
  display: block;
  margin: 20px auto;      /* 上下 20px，左右居中 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 轻微阴影 */
}

.link-item {
  margin-bottom: 10px;
  font-size: 1em;
}

.link-item a {
  color: #0066cc;
  text-decoration: none;
}

.link-item a:hover {
  text-decoration: underline;
}

